<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900022943169-not0croo7tcj3ikee41h0dhqcgdqfrb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900022943169-not0croo7tcj3ikee41h0dhqcgdqfrb6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900022943169-3e6f7f2f8qnqnpjbocj0r6d7tadepn1b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEy10nOnGjswa6nyWVovgsXXwfLPsmTUc</string>
	<key>GCM_SENDER_ID</key>
	<string>900022943169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agios.bible</string>
	<key>PROJECT_ID</key>
	<string>profiles-system</string>
	<key>STORAGE_BUCKET</key>
	<string>profiles-system.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900022943169:ios:b80cfd7bffd4236292c340</string>
</dict>
</plist>